.input {
    width: 100%;

    border: 1px solid var(--stel-gray-300);
    border-radius: var(--border-radius);

    box-sizing: border-box;

    font-size: 13px;
    line-height: 18px;

    position: relative;
}

.input__inner {
    padding: 9px;
}

.input__placeholder {
    color: var(--gray-300);

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
}

.input__input {
    outline: none;

    span {
        color: var(--accent-color);
    }
}
