.page-layout {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    padding: 100px 50px;

    height: 90vh;
    align-items: center;
    justify-content: flex-end;
}

.page-layout__inner {
    width: 290px;
}
