.emoji-section {
    position: relative;
}

.emoji-section__title {
    position: sticky;
    top: 0;
    background: white;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;

    font-size: 13px;
    line-height: 15px;

    color: var(--gray-300);
}

.emoji-section__grid {
    display: grid;
    grid-template-columns: repeat(10, 22px);
    grid-column-gap: 5px;
    grid-row-gap: 4px;
}
