.popup {
    overflow: hidden;
    margin-bottom: 30px;

    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.popup__container {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: white;
    box-sizing: border-box;

    overflow: hidden;
}

.popup-tabs {
    display: flex;
    background: var(--gray-100);
}

.popup-tabs__tab {
    padding: 6px;

    &_active {
        background: white;
    }
}

.popup-tabs__tab-icon {
    width: 24px;
    height: 24px;
}

.popup__scroll-area-wrapper {
    padding: 5px 5px 7px 0;
}

.popup__scroll-area {
    height: 235px;
    overflow-y: scroll;

    padding: 0 6px;

    scrollbar-color: var(--blue) white !important;
    scrollbar-width: thin !important;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        width: 100%;
        background: var(--blue);
        border-radius: 2px;
    }
}

.popup__tip-wrapper {
    width: 19px;
    height: 6px;
    overflow: hidden;
    transform: translate3d(0, -1px, 0);
    margin-left: auto;
    margin-right: 10px;
}

.popup__tip {
    position: absolute;
    width: 19px;
    height: 19px;
    left: -1px;
    top: -17px;
    background: var(--gray-100);
    transform: rotate(45deg);
    border-radius: 6px;
    border: 1px solid var(--border-color);
}
