.emoji-button {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    float: right;

    background: none;
    outline: none;
    appearance: none;
    border: none;

    cursor: pointer;

    &:hover path,
    &:focus path {
        fill: var(--steel-gray-400);
    }
}

.emoji-button svg {
    width: 24px;
    height: 24px;
}
